<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzwl.rental.mapper.user.RentalOrderMapper">
    <select id="selectByPages" resultType="com.hzwl.rental.entity.user.RentalOrder">
        select * from rental_order ${ew.customSqlSegment}
    </select>
</mapper>
